In [4]:
import streamlit as st
import numpy as np
import pandas as pd
import time

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [9]:
df = pd.DataFrame(
    np.random.randn(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df

          lat         lon
0   35.700766  139.708648
1   35.678185  139.664145
2   35.664157  139.732814
3   35.701642  139.701851
4   35.689593  139.724740
..        ...         ...
95  35.688287  139.716710
96  35.669363  139.708902
97  35.692104  139.685286
98  35.710348  139.691297
99  35.669332  139.693889

[100 rows x 2 columns]

In [10]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
for i in range(100):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7

KeyboardInterrupt: